* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Futura, Tahoma, sans-serif;
}

button {
  width: 200px;
  background: #404040;
  color: #F2F2F2;
  padding: 10px 20px 10px 20px;
  font-family: Futura, Tahoma, sans-serif;
}

input {
  width: 200px;
  background: #404040;
  color: #F2F2F2;
  padding: 10px 20px 10px 20px;
  font-family: Futura, Tahoma, sans-serif;
}

#current-city {
  background: white;
  color: #575757;
}

#temperature-box {
position: relative;
max-width: 600px;
margin: 10px auto;
padding: 10px;
border-radius: 10px;
}

.low {
  color: #F2F2F2;
  background-color: #AEC4B8;
}

.medium {
  color: #F2F2F2;
  background-color: #AEB8C4;
}

.high {
  color: #F2F2F2;
  background-color: #C4AEB1;
}

.powersave-off {
  background-color: #D74B37;
}

.box {
  max-width: 600px;
  margin: 20px auto;
  border: solid grey 10px;
}
